<link rel="stylesheet" href="/footer.css">
</head>
<body>
    <footer class="footer ">
        <div class="text-center p-3 bg-dark text-white">
            <p class="copy">© 2025 Port de Plaisance. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
